<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Entity Spotlight</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ asset('bundles/css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ asset('bundles/css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ asset('bundles/css/custom.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ asset('bundles/js/materialize.js') }}"></script>
  <script src="{{ asset('bundles/js/init.js') }}"></script>

</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">

    <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">Entity Spotlight</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">Administration</a></li>
        <li><a href="/listentowikipedia">Add and Listen</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Administration</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          <br>
    <form action="/search/">
        <div class="input-field">
          <input id="search" type="search" name="query" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>

  </nav>

  {% block body %}{% endblock %}

  <footer class="page-footer blue-grey darken-2">

    <div class="footer-copyright">
      <div class="container">
      Made by <a href="http://www.frantzroulet.com">Frantz Roulet</a> with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  </body>
</html>
