{% extends 'base.html.twig' %}


{% block body %}

      <!-- Slider -->
   <link href="{{ asset('bundles/css/slider-timeline.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

   <script src="{{ asset('bundles/js/slider-timeline-init.js') }}"></script>

     <script src="{{ asset('bundles/js/raphael.min.js') }}"></script>

    <script src="{{ asset('bundles/js/raphael.icons.min.js') }}"></script>

     <script src="{{ asset('bundles/js/wheelnav.min.js') }}"></script>


  <div class="section no-pad-bot  blue-grey lighten-5" id="index-banner">

    <div class="container">
      <div class="row center">

       <div class="col s6 left-align vertop">
        <div  {# data-wheelnav-cssmode #} id="wheelDiv"></div>
      </div>

      <div class="col s6">
        <h2> {{entity.title}}</h2>
         <img class="responsive-img"  src="{{entity.imglink}}" />
      </div>

    </div>


    <div class="row page-featured-posts-grid-wrapper page-featured-posts-full-width">

      <div class="col s6" style="opacity: 1;">
        <article class="post-435 post type-post status-publish format-standard has-post-thumbnail hentry category-travel">
          <img class="responsive-img" src="//emerald.sekizgen.net/wp-content/uploads/2015/07/emerald-209-1024x683.jpg" class="attachment-large wp-post-image" alt="emerald-209">
{#           <header>
          <a href="http://emerald.sekizgen.net/bicycle-tour/" class="page-featured-posts-grid-link-wrapper waves-effect">
            <div class="page-featured-posts-grid-title-wrapper center-align">
              <h2 class="page-featured-posts-grid-title"><strong>BICYCLE</strong> TOUR</h2>
            </div>
          </a>
        </header> #}
      </article>
    </div>

    <div class="col s6">

      <div class="col s6 min" style="opacity: 1;">
        <article class="post-425 post type-post status-publish format-standard has-post-thumbnail hentry category-music">
          <img class="responsive-img" src="//emerald.sekizgen.net/wp-content/uploads/2015/07/emerald-45-1024x683.jpg" class="attachment-large wp-post-image" alt="emerald-45">{#  <header>
          <a href="http://emerald.sekizgen.net/cycling-songs/" class="page-featured-posts-grid-link-wrapper waves-effect">
            <div class="page-featured-posts-grid-title-wrapper center-align">
              <h2 class="page-featured-posts-grid-title"><strong>CYCLING</strong> SONGS</h2>
            </div>
          </a>
        </header> #}
      </article>
    </div>


    <div class="col s6 min" style="opacity: 1;">
      <article class="post-340 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle">
        <img class="responsive-img" src="//emerald.sekizgen.net/wp-content/uploads/2015/07/emerald-219-1024x683.jpg" class="attachment-large wp-post-image" alt="emerald-219"> {# <header>
        <a href="http://emerald.sekizgen.net/winter-tea/" class="page-featured-posts-grid-link-wrapper waves-effect">
          <div class="page-featured-posts-grid-title-wrapper center-align">
            <h2 class="page-featured-posts-grid-title">WINTER TEA</h2>
          </div>
        </a>
      </header> #}
    </article>
  </div>


  <div class="col s6 min3" style="opacity: 1;">
    <article class="post-365 post type-post status-publish format-standard has-post-thumbnail hentry category-fashion">
      <img class="responsive-img" src="//emerald.sekizgen.net/wp-content/uploads/2015/07/emerald-40-1024x683.jpg" class="attachment-large wp-post-image" alt="emerald-40">
{#       <header>
      <a href="http://emerald.sekizgen.net/cool-stuff-for-men/" class="page-featured-posts-grid-link-wrapper waves-effect">
        <div class="page-featured-posts-grid-title-wrapper center-align">
          <h2 class="page-featured-posts-grid-title"><strong>COOL</strong> STUFF FOR <em>MEN</em></h2>
        </div>
      </a>
    </header> #}
  </article>
</div>


<div class="col s6 min3" style="opacity: 1;">
  <article class="post-31 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-summer">
    <img class="responsive-img" src="//emerald.sekizgen.net/wp-content/uploads/2015/07/emerald-34-1024x683.jpg" class="attachment-large wp-post-image" alt="emerald-34">
{#     <header>
    <a href="http://emerald.sekizgen.net/summer-is-coming/" class="page-featured-posts-grid-link-wrapper waves-effect">
      <div class="page-featured-posts-grid-title-wrapper center-align">
        <h2 class="page-featured-posts-grid-title"><stong>SUMMER <em>IS</em> COMING</stong></h2>
      </div>
    </a>
  </header> #}
</article>
</div>

</div>

    <div class="menu">
      <div class="slider">
        <ul>
          <li class="category"></li>
          {% for revision in revisions %}

            {% if loop.first == true %}
            <li class="category active"><a href="#home" revid={{revision.idRevision}}>{{revision.date |date('Y-m-d') }}</a></li>

            {% else %}
            <li class="category"><a href="#home" revid={{revision.idRevision}}>{{revision.date |date('Y-m-d') }}</a></li>
            {% endif %}
          {% endfor %}

{#           <li class="category active"><a href="#home">HOME</a></li>
          <li class="category"><a href="#searc">SEARCH</a></li>
          <li class="category"><a href="#about">ABOUT US</a></li>
          <li class="category"><a href="#contact">CONTACT US</a></li>
          <li class="category"><a href="#contact">fdssfdfds US</a></li> #}
        </ul>
        <div class="bar">
          <div class="before"></div>
          <a class="knob"></a>
          <div class="after"></div>
        </div>
      </div>
    </div>


</div>


</div>

</div>

    <script type="text/javascript">

        window.onload = function () {

          first = $(".menu ul li.active a").first();
          idEntity = {{entity.idEntity}};
          getWheel(first.attr("revid"), idEntity);

          $(".menu ul li a").click(function(e) {
                e.preventDefault();
                getWheel($(this).attr("revid"), idEntity);
                $(this).slideToPos();
                $('html, body').animate({ scrollTop: $(this.hash).offset().top }, 400);
              });
        };

        function getWheel(revid, idEntity) {
                    $.ajax({
          url: '/api/getrevision/'+revid,
          type: "GET",
          dataType: 'json',
          success: function (data) {
              console.log(data);
              var categories = [];
              ;
                for (var x = 0; x < data.length; x++) {

                cat = data[x].categoryTitle.replace(/_/g, ' ');
                categories.push(cat)
            }

            var wheel = new wheelnav("wheelDiv");

            wheel.colors = colorpalette.gamebookers;
            wheel.wheelRadius = 160;
            wheel.slicePathFunction = slicePath().DonutSlice;
            wheel.createWheel(categories);

            wheel.navItems.forEach(function(entry) {
              console.log(entry);
              entry.navigateFunction = function () {
                console.log(entry.title);
                window.location.href = "/entity/"+idEntity+"/"+entry.title.replace(/ /g,"_");
              };
          });




            }
         });
        }

    </script>

{% endblock %}
