{% extends 'base.html.twig' %}

{% block body %}

  <div class="section no-pad-bot  blue-grey lighten-5" id="index-banner">

    <div class="container">

      {% if error != null %}
      <p class="card-panel red accent-4"> {{error}}</p>
      {% endif %}

    

      {% for entity in entities %}
      <div class="row">
      <div class="col s6">
      <a href='/entity/{{entity.idEntity}}'>
      <p>{{entity.title}}</p>
      </a>
      </div>
      <div class="col s3">
      <a href="/entity/delete/{{entity.idEntity}}" class="waves-effect waves-light btn">Edit</a>
      </div>
      <div class="col s3">
      <a href="/entity/delete/{{entity.idEntity}}" class="waves-effect waves-light btn">Delete</a>
      </div>
      </div>
      {% endfor %}

    </div>
</div>
</div>

{% endblock %}
